---
export const prerender = false;

import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Marquee from '../components/Marquee.astro';
import About from '../components/About.astro';
import Impact from '../components/Impact.astro';
import Instar from '../components/Instar.astro';
import Regions from '../components/Regions.astro';
import Team from '../components/Team.astro';
import Events from '../components/Events.astro';
import Prayer from '../components/Prayer.astro';
import Give from '../components/Give.astro';
import Newsletter from '../components/Newsletter.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Marquee />
    <About />
    <Impact />
    <Instar />
    <Regions />
    <Team />
    <Events />
    <Prayer />
    <Give />
    <Newsletter />
    <Contact />
  </main>
  <Footer />
</Layout>
